{%  extends 'index.html'  %}

{%  block content  %}


    

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="archivo">
        <input type="submit">
    </form>
   
   
   

   
   
   

{%  endblock  %}