<!DOCTYPE HTML>

<html>
	<head>
		<title>POM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="../static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="../static/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/css/ie8.css" /><![endif]-->

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a class="logo"><strong>P.O.M.</strong> </br> Pile of Money</a>
									<ul class="icons">
                                                                            <br><span class="icon-Innovamars"></span></br>
                                                                            
										<li><a href="#" class="icon fa-home"><span class="label">Inicio</span></a></li>
										<li><a href="#" class="icon fa-bell-o"><span class="label">Avisos</span></a></li>
										<li><a href="#" class="icon fa-comments"><span class="label">Comentarios</span></a></li>
										<li><a href="#" class="icon fa-cog"><span class="label">Configuración</span></a></li>
										<li><a href="logout" class="icon fa-power-off"><span class="label">Logout</span></a></li>
                                                                                
                
                </span>
									</ul>
								</header>
                                                        

                                                        
                                                        <!-- Section -->
								<section>
									
									
								</section>


                                                        							<!-- Content -->
								<section>
									<header class="main">
										<h1></h1>
									</header>

									{%  block content %}

									{%  endblock %}


									
								</section>
                                    

                                                        
							

						</div>
					</div>

<!-- Sidebar -->
<div id="sidebar">
	<div class="inner">

		<!-- Search -->
			<section id="search" class="alt">
				<form method="post" action="#">
					<input type="text" name="query" id="query" placeholder="Search" />
				</form>
			</section>

		<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Menu</h2>
				</header>
				<ul>
					<li><a href="dashboard">Dashboard</a></li>
					<li><a href="nuevo">Nuevo proyecto</a></li>
					<li>
						<span class="opener">Proyectos</span>
						<ul>
							<li><a href="uno"></a></li>
							<li><a href="green"></a></li>
							<li><a href="yellow"></a></li>
							
						</ul>
					</li>
					
					<li><a href="reportes">Reportes</a></li>
					<li>
						<span class="opener">Configuración</span>
						<ul>
							<li><a href="perfil">Perfil</a></li>
							<li><a href="notificaciones">Notificaciones</a></li>
							
						</ul>
					</li>
					
					
				</ul>
			</nav>


		

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Innovamars. All rights reserved.  </a>.</p>
			</footer>

	</div>
</div>

</div>

<!-- Scripts -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/skel.min.js"></script>
<script src="../static/js/util.js"></script>
<!--[if lte IE 8]><script src="../static/js/ie/respond.min.js"></script><![endif]-->
<script src="../static/js/main.js"></script>


</body>
</html>