{% extends "index.html" %}

{%  block content %}

    <h2>Subida con exito</h2>
    <h3>     <input type="button"  onclick="location.href='subirbg';" value="Subir informacion financiera" style='width:350px; height:40px'/>
    </h3>
    <br></br>
    <h3>     <input type="button"  onclick="location.href='pom';" value="Análisis POM" style='width:350px; height:40px'/>
    </h3>

{% endblock %}