{%  extends 'index.html' %}

{%  block content  %}
<head>
    <meta http-equiv="Refresh" content="905;url=excel">
</head>
<p>Este proceso puede durar entre 10 a 15 minutos </p>
<p>Recibira una notificacion por correo cuando el proceso termine</p>
{%  endblock  %}